# TensorFlow 2.15 (includes Keras)
tensorflow==2.15.0

# Image processing
Pillow>=9.0.0
scipy>=1.10.0
numpy>=1.24.0

# Web app
streamlit>=1.25.0

# Optional: for file handling / OS operations
h5py>=3.9.0
#sdk
python-dotenv
google-genai


